langchain>=0.2.0,<0.3.0
langchain-community>=0.2.0,<0.3.0
langchain-core>=0.2.0,<0.3.0
langchain-text-splitters>=0.2.0,<0.3.0
langchain-huggingface>=0.0.3,<0.1.0
langchain-chroma>=0.1.0,<0.2.0
langchain-ollama>=0.1.0,<0.2.0
transformers
accelerate
sentence-transformers
rank-bm25
huggingface_hub
tqdm
beautifulsoup4
nltk
torch
numpy<2.0.0
ipykernel
python-dotenv
